{% extends 'index.html' %}
{% block title %}
Inicio
{% endblock %}

{% block content %}
<div>
    GitHub del Proyecto
    Brian Omar Inca Huamani
    Git Hub: https://github.com/brianinhu/UC3_Parte01
    <br><br><br>
    Sahuma Jurado, Gerson Daniel
    Git Hub: https://github.com/sahumajurado/UC3_Parte02_Sahuma.git
    <br><br><br>
    Alexia Nicoll Asunción Pomasonco
    Git Hub: https://github.com/aleni304/UC3-Parte03.git
    <br><br><br>
    Brian Omar Inca Huamani
    Git Hub: https://github.com/brianinhu/UC3_Parte04
</div>
{% endblock %}